html {
  height: 100%;
  font-size: 20px;
}
body {
  position: relative;
  min-height: 100%;
  background: #fff;
  color: #4c4948;
  font-size: 14px;
  font-family: Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, 'Microsoft YaHei',
    Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* cursor: url(https://www.bsat1314.cn//usr/themes/handsome/normal.cur), default; */
}

body,
html {
  scroll-behavior: smooth;
}

/* 修改选中文字的背景色 */
*::selection {
  background: #00c4b6;
  color: #f7f7f7;
}

/*定义滚动条样式（高宽及背景）*/
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/*定义滚动条轨道（凹槽）样式*/
*::-webkit-scrollbar-track {
  background-color: transparent;
}

/*定义滑块 样式*/
*::-webkit-scrollbar-thumb {
  background: #49b1f5;
}

* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #99a9bf;
  text-decoration: none;
  word-wrap: break-word;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  overflow-wrap: break-word;
  /* cursor: url(https://www.bsat1314.cn//usr/themes/handsome/link.cur), pointer !important; */
}

/* button {
  cursor: url(https://www.bsat1314.cn//usr/themes/handsome/link.cur), pointer !important;
} */

a:hover {
  color: #49b1f5;
}

/* 1.超小屏幕下*/
@media screen and (max-width: 900px) {
  .layout_page {
    flex-wrap: wrap;
  }

  .recent-posts {
    width: 100% !important;
  }

  .aside-content {
    width: 100% !important;
    margin-top: 20px !important;
  }

  .card-widget {
    margin-left: 0 !important;
  }

  .layout_page {
    padding: 20px 5px !important;
  }

  /* 设置顶部导航条是否显示 */
  #page-header .menus_items {
    display: none !important;
  }

  /* 控制菜单按钮是否显示 */
  #page-header .toggle-menu {
    display: inline-block !important;
  }

  #page-header {
    padding: 10px 16px !important;
  }

  #page-header .site-page {
    font-size: inherit !important;
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 10;
    padding: 20px 0 40px 10px;
    width: 300px;
    height: 100%;
    background: #f6f8fa;
    -webkit-box-shadow: -5px 0 5px rgba(246, 248, 250, 0.6) inset;
    box-shadow: -0.25rem 0 0.25rem rgba(246, 248, 250, 0.6) inset;
    opacity: 0.9;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=90)';
    filter: alpha(opacity=90);
    transition: all 0.5s;
    display: none;
  }

  #body-wrap {
    transition: all 0.5s;
    padding-left: 0 !important;
  }

  #page-header.fixed {
    position: fixed;
    top: -60px;
    z-index: 101;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0.6);
    box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0.6);
    -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    width: 100% !important;
  }

  /* 博客介绍页面css样式 */
  .layout_page > div:first-child:not(.recent-posts) {
    width: 100% !important;
  }
}

/* 2.小屏幕下*/
@media screen and (min-width: 900px) {
  .layout_page {
    flex-wrap: nowrap;
  }

  .recent-posts {
    width: 75% !important;
  }

  .aside-content {
    width: 25% !important;
    margin-top: 0px !important;
  }

  .card-widget {
    margin-left: 15px !important;
  }

  #aside_content .card-widget {
    margin-left: 15px;
  }

  .layout_page {
    padding: 40px 15px !important;
  }

  /* 设置顶部导航条是否显示 */
  #page-header .menus_items {
    display: inline !important;
  }

  /* 控制菜单按钮是否显示 */
  #page-header .toggle-menu {
    display: none !important;
  }

  #page-header {
    padding: 10px 36px !important;
  }

  /* 博客介绍页面css样式 */
  .layout_page > div:first-child:not(.recent-posts) {
    width: 100% !important;
  }
}

/* 3.中等屏幕下 大于等于992px */
@media screen and (min-width: 992px) {
  .layout_page {
    flex-wrap: nowrap;
  }

  .recent-posts {
    width: 75% !important;
  }

  .aside-content {
    width: 25% !important;
    margin-top: 0px !important;
  }

  .card-widget {
    margin-left: 15px !important;
  }

  .layout_page {
    padding: 40px 15px !important;
  }

  /* 设置顶部导航条是否显示 */
  #page-header .menus_items {
    display: inline !important;
  }

  /* 控制菜单按钮是否显示 */
  #page-header .toggle-menu {
    display: none !important;
  }

  #page-header {
    padding: 10px 36px !important;
  }

  /* 博客介绍页面css样式 */
  .layout_page > div:first-child:not(.recent-posts) {
    width: 75% !important;
  }
}

/* 4.大屏幕下 大于等于1200 布局容器修改为1170px */
@media screen and (min-width: 1200px) {
  .layout_page {
    flex-wrap: nowrap;
  }

  .recent-posts {
    width: 75%;
  }

  .aside-content {
    width: 25% !important;
    margin-top: 0 !important;
  }

  .card-widget {
    margin-left: 15px !important;
  }

  .layout_page {
    padding: 40px 15px !important;
  }

  /* 设置顶部导航条是否显示 */
  #page-header .menus_items {
    display: inline !important;
  }

  /* 控制菜单按钮是否显示 */
  #page-header .toggle-menu {
    display: none !important;
  }

  #page-header {
    padding: 10px 36px !important;
  }

  /* 博客介绍页面css样式 */
  .layout_page > div:first-child:not(.recent-posts) {
    width: 75% !important;
  }
}

#mobile-sidebar #menu_mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 102;
  display: none;
  background: rgba(0, 0, 0, 0.8);
}

#mobile-sidebar #mobile-sidebar-menus {
  position: fixed;
  top: 0;
  right: -250px;
  z-index: 103;
  display: block;
  overflow: hidden;
  overflow-y: scroll;
  width: 250px;
  height: 100%;
  background: #f6f8fa;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

#mobile-sidebar #mobile-sidebar-menus .mobile_author_icon {
  padding: 26px 30px 0;
  text-align: center;
}

img {
  max-width: 100%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

#mobile-sidebar #mobile-sidebar-menus > .mobile_author_icon img {
  display: inline-block;
  padding: 0;
  width: 110px;
  height: 110px;
  border-radius: 70px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

#mobile-sidebar #mobile-sidebar-menus .mobile_post_data {
  padding: 12px 10px 0;
}

#mobile-sidebar #mobile-sidebar-menus .mobile_post_data > div {
  display: flex;
}

#mobile-sidebar #mobile-sidebar-menus .mobile_post_data > div .mobile_data_item {
  flex: 1;
}

#mobile-sidebar #mobile-sidebar-menus .mobile_post_data .mobile_data_item .mobile_data_link .headline {
  display: block;
  color: #4c4948;
  font-size: 14px;
}

#mobile-sidebar #mobile-sidebar-menus .mobile_post_data .mobile_data_item .mobile_data_link > a > div {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#mobile-sidebar #mobile-sidebar-menus .mobile_post_data .mobile_data_item .mobile_data_link .length_num {
  color: #000;
  font-size: 18px;
}

#mobile-sidebar #mobile-sidebar-menus hr {
  margin: 20px auto;
}

hr {
  position: relative;
  margin: 40px auto;
  width: calc(100% - 4px);
  border: 2px dashed #a4d8fa;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

hr:before {
  position: absolute;
  top: -10px;
  left: 5%;
  z-index: 1;
  color: #49b1f5;
  content: '\f0c4';
  font-style: normal;
  font-variant: normal;
  font-size: 20px;
  line-height: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-family: FontAwesome;
}

hr:hover:before {
  /* 计算元素宽度减少20设置给left */
  left: calc(95% - 20px);
}

#mobile-sidebar #mobile-sidebar-menus .menus_items {
  margin-bottom: 5rem;
  padding: 0 0.5rem;
}

#mobile-sidebar #mobile-sidebar-menus .menus_items i {
  width: 30%;
  text-align: left;
}

#mobile-sidebar #mobile-sidebar-menus .menus_items a:hover {
  color: #49b1f5;
}

#mobile-sidebar #mobile-sidebar-menus .menus_items span {
  width: 70%;
}

#mobile-sidebar #mobile-sidebar-menus .menus_items .site-page {
  position: relative;
  z-index: 0;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0.3rem 1.5rem;
  color: #4c4948;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: none;
  white-space: nowrap;
  font-size: 0.8rem;
  cursor: pointer;
}

#nav {
  position: relative;
  width: 100%;
  background-color: #49b1f5;
  background-attachment: local;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: nav-effect 1s;
  -moz-animation: nav-effect 1s;
  -o-animation: nav-effect 1s;
  -ms-animation: nav-effect 1s;
  animation: nav-effect 1s;
}

@-moz-keyframes nav-effect {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes nav-effect {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes nav-effect {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes nav-effect {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

#content-inner,
#footer {
  -webkit-animation: main 1s;
  -moz-animation: main 1s;
  -o-animation: main 1s;
  -ms-animation: main 1s;
  animation: main 1s;
}

@-moz-keyframes main {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes main {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes main {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes main {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/* 博客首页头图下方按钮的样式 */
.full-page #scroll_down {
  position: absolute;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}

/* 首页下跳按钮动画绑定 */
.scroll-down-effects {
  -webkit-animation: scroll-down-effect 1.5s infinite;
  -moz-animation: scroll-down-effect 1.5s infinite;
  -o-animation: scroll-down-effect 1.5s infinite;
  -ms-animation: scroll-down-effect 1.5s infinite;
  animation: scroll-down-effect 1.5s infinite;
}

.full-page #scroll_down .scroll-down-effects {
  position: relative;
  width: 100%;
  font-size: 30px;
  color: #eee;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  line-height: 1.5;
}

@-moz-keyframes scroll-down-effect {
  0% {
    top: 0;
    opacity: 0.4;
  }
  50% {
    top: -16px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    top: 0;
    opacity: 0.4;
  }
}
@-webkit-keyframes scroll-down-effect {
  0% {
    top: 0;
    opacity: 0.4;
  }
  50% {
    top: -16px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    top: 0;
    opacity: 0.4;
  }
}
@-o-keyframes scroll-down-effect {
  0% {
    top: 0;
    opacity: 0.4;
  }
  50% {
    top: -16px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    top: 0;
    opacity: 0.4;
  }
}
@keyframes scroll-down-effect {
  0% {
    top: 0;
    opacity: 0.4;
  }
  50% {
    top: -16px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    top: 0;
    opacity: 0.4;
  }
}

#site-info {
  position: absolute;
  top: 43%;
  padding: 0 10px;
  width: 100%;
}

/* 顶部导航栏的css样式 */
/* 默认顶部导航栏的css样式 */
#page-header {
  position: absolute;
  top: 0;
  z-index: 99;
  padding: 10px 36px;
  width: 100%;
  height: 58px;
  border: none;
  font-size: 18px;
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
}

/* 到达某个位置后上滑后顶部导航栏的css样式 */
#page-header.visible {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

#page-header.fixed {
  position: fixed;
  top: -60px;
  z-index: 101;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0.6);
  box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0.6);
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#page-header.fixed a,
#page-header.fixed #site-name,
#page-header.fixed .toggle-menu {
  color: #4c4948;
  text-shadow: none;
}

.pull_left {
  float: left;
}

#page-header #site-name {
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  font-weight: bold;
  cursor: pointer;
}

#page-header a {
  color: #eee;
}

.pull_right {
  float: right;
}

/* 非xxx选择器 */
#page-header:not(.fixed) .menus {
  padding-right: 0 !important;
}

/* 顶部导航条菜单样式 */
#page-header .menus_items {
  display: inline;
}

#page-header .toggle-menu {
  display: none;
  padding: 2px 0 0 6px;
  vertical-align: top;
}

#page-header .menus_items .menus_item {
  position: relative;
  display: inline-block;
  padding: 0 0 0 14px;
}

#page-header .site-page {
  position: relative;
  padding-bottom: 6px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  cursor: pointer;
}

#page-header .menus_items .menus_item a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 3px;
  background-color: #80c8f8;
  content: '';
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#page-header .menus_items .menus_item a:hover:after {
  width: 100%;
}

/* 首页头图中间信息的css样式 */
#site-info #site_title {
  color: #eee;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.5;
  font-size: 40px;
}

.full-page #site-info #site_subtitle {
  color: #eee;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.5;
  font-size: 24px;
}

.full-page #site-info #subtitle {
  color: #eee;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.5;
  font-size: 24px;
}

.typed-cursor--blink {
  display: inline-block;
  margin-left: -5px;
  font-size: 30px;
}

.typed-cursor {
  opacity: 1;
}

.typed-cursor {
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 首页主体外部容器 */
.layout_page {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 40px 15px;
  max-width: 1200px;
}

.recent-posts {
  width: 75%;
}

.post-item {
  margin: 0 0 20px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
  height: 280px;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
  box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.post-item:hover {
  -webkit-box-shadow: 0 4px 12px 12px rgba(7, 17, 27, 0.15);
  box-shadow: 0 4px 12px 12px rgba(7, 17, 27, 0.15);
}

.item-img {
  overflow: hidden;
  width: 45%;
  height: 280px;
  border-radius: 8px 0 0 8px;
}

.item-img2 {
  overflow: hidden;
  width: 45%;
  height: 280px;
  border-radius: 0 8px 8px 0;
}

.img1 {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
  object-fit: cover;
}

.img1:hover {
  transform: scale(1.1);
}

/* 文章时间等信息展示 */
.recent-post-information {
  display: inline-block;
  overflow: hidden;
  padding: 0 40px;
  width: 55%;
}

.article-title {
  overflow: hidden;
  color: #4c4948;
  font-size: 24px;
  line-height: 1.4;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.article-title:hover {
  color: #49b1f5 !important;
}

/* 文章发布时间 */
.recent-post-information .article-date {
  color: #858585;
  cursor: pointer;
  font-size: 13.3px;
}

.recent-post-information i {
  margin-right: 4px;
}

/* 文章标签外部容器 */
.article-meta {
  color: #858585;
}

/* 分隔符 */
.separator {
  margin-right: 6px;
}

.article-meta .categories {
  color: #858585;
}

.article-meta .categories:hover {
  color: #49b1f5 !important;
  text-decoration: underline;
}

.recent-post-information .content {
  overflow: hidden;
  margin-top: 6px;
  height: 85px;
  color: rgb(76, 73, 72);
}

/* 分页 */
#pagination .pagination {
  text-align: center;
}

#pagination .page-number {
  display: inline-block;
  margin: 0 4px;
  min-width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
}

#pagination .pageJump {
  display: inline-block;
  padding-left: 0;
  margin: 0 0 0 60px;
  border-radius: 4px;
  vertical-align: top;
}

#pagination .pageJump input {
  font-size: 16px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 40px;
}

#pagination .pageJump button {
  font-size: 16px;
  margin-left: -1px;
  width: 46px;
  height: 26px;
  line-height: 26px;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

main .aside-content {
  width: 25%;
}

main .aside-content .card-widget {
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
  box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 15px;
}

main .aside-content .card-widget:hover {
  -webkit-box-shadow: 0 4px 12px 12px rgba(7, 17, 27, 0.15);
  box-shadow: 0 4px 12px 12px rgba(7, 17, 27, 0.15);
}

main .aside-content .card-widget .card-content {
  padding: 20px 24px;
}

main .aside-content .avatar-img {
  display: inline-block;
  width: 110px;
  height: 110px;
  border-radius: 70px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

main .aside-content .avatar-img:hover {
  -webkit-transform: rotateZ(540deg);
  -moz-transform: rotateZ(540deg);
  -o-transform: rotateZ(540deg);
  -ms-transform: rotateZ(540deg);
  transform: rotateZ(540deg);
}

.aside-content .card-info {
  text-align: center;
}

.is-center {
  text-align: center;
}

.aside-content .author-info-name {
  font-weight: 500;
  font-size: 22px;
}

.aside-content .card-info-data {
  padding: 14px 0;
  display: flex;
}

.aside-content .card-info-data .card-info-data-item {
  flex: 1;
}

.card-info-data-item .headline {
  display: block;
  overflow: hidden;
  color: #4c4948;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.length-num {
  color: #000;
  font-size: 20px;
}

.bookmarkwai .bookmark {
  position: relative;
  z-index: 1;
  display: block;
  background-color: #49b1f5;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.6rem;
}

.bookmarkwai .bookmark:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #ff7242;
  content: '';
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

.bookmarkwai .bookmark:hover:before {
  -webkit-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
  -moz-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
  -o-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
  -ms-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
  transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.card-info-social-icons {
  margin: 6px 0 -12px;
}

.card-info-social-icons a:hover {
  color: #4c4948;
}

/* github等图标样式 */
.social-icon {
  margin: 0 10px;
  color: #4c4948;
  font-size: 1rem;
}

.social-icon i {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.social-icon i:hover {
  -webkit-transform: rotateZ(540deg);
  -moz-transform: rotateZ(540deg);
  -o-transform: rotateZ(540deg);
  -ms-transform: rotateZ(540deg);
  transform: rotateZ(540deg);
}

.card-widget .card-content .item-headline {
  font-size: 16px;
}

.card-announcement-animation {
  color: #f00 !important;
  -webkit-animation: announ_animation 0.8s linear infinite;
  -moz-animation: announ_animation 0.8s linear infinite;
  -o-animation: announ_animation 0.8s linear infinite;
  -ms-animation: announ_animation 0.8s linear infinite;
  animation: announ_animation 0.8s linear infinite;
}

/* 放大缩小动画 */
@-moz-keyframes announ_animation {
  0%,
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-webkit-keyframes announ_animation {
  0%,
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-o-keyframes announ_animation {
  0%,
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes announ_animation {
  0%,
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

/* 公告栏css样式 */
.aside-content .card-widget:nth-child(2) {
  margin-top: 20px;
}

.card-widget .card-content .item-headline span {
  margin-left: 10px;
}

/* 最新文章css样式 */
.aside-content .card-widget:nth-child(3) {
  margin-top: 20px;
}

.aside-content .card-widget:nth-child(3) .card-content {
  padding: 20px 24px;
}

.aside-recent-item {
  margin: 10px 0 -15px;
}

.aside-recent-item .aside-recent-post {
  margin-bottom: 10px;
}

.aside-recent-item .aside-recent-post a {
  display: flex;
  color: #4c4948;
}

.aside-recent-item .aside-recent-post a .aside-post-title:hover {
  color: #49b1f5 !important;
}

.aside-recent-item .aside-recent-post a .aside-post-title time {
  padding-left: 10px;
  color: #858585;
  font-size: 0.6rem;
}

.aside-recent-item .aside-recent-post a .aside-post-title .aside-post_title {
  display: -webkit-box;
  overflow: hidden;
  padding-left: 10px;
  height: 40px;
  line-height: 1rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.aside-recent-item .aside-recent-post a .aside-post-cover {
  overflow: hidden;
  width: 66px;
  height: 66px;
}

.aside-recent-item .aside-recent-post a .aside-post-cover .aside-post-bg {
  padding: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
  object-fit: cover;
}

.aside-post-bg:hover {
  transform: scale(1.1);
}

/* 分类 */
.aside-content .card-widget:nth-child(4) {
  margin-top: 20px;
}

.aside-category-item,
.archive-list-item {
  margin: 0;
  padding: 4px 0 0;
  list-style: none;
}

.aside-category-item .aside-category-list,
.archive-list-item .archive-list {
  padding: 4px 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.aside-category-item .aside-category-list:hover,
.archive-list-item .archive-list:hover {
  padding: 0.2rem 0.85rem;
  background-color: #49b1f5;
}

.aside-category-item .aside-category-list a,
.archive-list-item .archive-list a {
  color: #4c4948;
  display: flex;
  justify-content: space-between;
}

.aside-category-item .aside-category-list a .aside-category-list_name,
.archive-list-item .archive-list a .archive-list-date {
  width: 80%;
}

.aside-category-item .aside-category-list a .aside-category-list_length,
.archive-list-item .archive-list a .archive-list-count {
  width: 20%;
  text-align: right;
}

/* 时间轴 */
.aside-content .card-widget:nth-child(5) {
  margin-top: 20px;
}

/* 网站资讯 */
.aside-content .card-widget:nth-child(6) {
  margin-top: 20px;
}

.card-webinfo .webinfo {
  padding: 4px 20px;
}

.card-webinfo .webinfo .webinfo-item {
  display: block;
  padding: 4px 0 0;
}

.card-webinfo .webinfo .webinfo-item div:first-child {
  display: inline-block;
}

.card-webinfo .webinfo .webinfo-item div:last-child {
  float: right;
}

@-moz-keyframes to_show {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes to_show {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes to_show {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes to_show {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

canvas {
  -webkit-animation: to_show 4s;
  -moz-animation: to_show 4s;
  -o-animation: to_show 4s;
  -ms-animation: to_show 4s;
  animation: to_show 4s;
}

/* 全局固定设置按钮
#rightside {
  position: fixed;
  right: -38px;
  bottom: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

#rightside > div > i,
#rightside_config {
  display: block;
  margin-bottom: 2px;
  width: 30px;
  height: 30px;
  background-color: #49b1f5;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 29px;
  cursor: pointer;
}

#rightside_config i {
  -webkit-animation: turn_around 2s linear infinite;
  -moz-animation: turn_around 2s linear infinite;
  -o-animation: turn_around 2s linear infinite;
  -ms-animation: turn_around 2s linear infinite;
  animation: turn_around 2s linear infinite;
} */

@-moz-keyframes turn_around {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes turn_around {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes turn_around {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes turn_around {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#rightside #rightside-config-hide {
  -webkit-transform: translate(35px, 0);
  -moz-transform: translate(35px, 0);
  -o-transform: translate(35px, 0);
  -ms-transform: translate(35px, 0);
  transform: translate(35px, 0);
}

#rightside .rightside-in {
  -webkit-transform: translate(0, 0) !important;
  -moz-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  -webkit-animation: rightsideIn 0.3s;
  -moz-animation: rightsideIn 0.3s;
  -o-animation: rightsideIn 0.3s;
  -ms-animation: rightsideIn 0.3s;
  animation: rightsideIn 0.3s;
}

#rightside .rightside-out {
  -webkit-animation: rightsideOut 0.3s;
  -moz-animation: rightsideOut 0.3s;
  -o-animation: rightsideOut 0.3s;
  -ms-animation: rightsideOut 0.3s;
  animation: rightsideOut 0.3s;
}

@-moz-keyframes rightsideIn {
  0% {
    -webkit-transform: translate(30px, 0);
    -moz-transform: translate(30px, 0);
    -o-transform: translate(30px, 0);
    -ms-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes rightsideIn {
  0% {
    -webkit-transform: translate(30px, 0);
    -moz-transform: translate(30px, 0);
    -o-transform: translate(30px, 0);
    -ms-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes rightsideIn {
  0% {
    -webkit-transform: translate(30px, 0);
    -moz-transform: translate(30px, 0);
    -o-transform: translate(30px, 0);
    -ms-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes rightsideIn {
  0% {
    -webkit-transform: translate(30px, 0);
    -moz-transform: translate(30px, 0);
    -o-transform: translate(30px, 0);
    -ms-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes rightsideOut {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(30px, 0);
    -moz-transform: translate(30px, 0);
    -o-transform: translate(30px, 0);
    -ms-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
}
@-webkit-keyframes rightsideOut {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(30px, 0);
    -moz-transform: translate(30px, 0);
    -o-transform: translate(30px, 0);
    -ms-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
}
@-o-keyframes rightsideOut {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(30px, 0);
    -moz-transform: translate(30px, 0);
    -o-transform: translate(30px, 0);
    -ms-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
}
@keyframes rightsideOut {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(30px, 0);
    -moz-transform: translate(30px, 0);
    -o-transform: translate(30px, 0);
    -ms-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
}

/* 文章页面的css样式起步 */
/* 左侧目录 */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 20px 0 40px 10px;
  width: 300px;
  height: 100%;
  background: #f6f8fa;
  -webkit-box-shadow: -5px 0 5px rgba(246, 248, 250, 0.6) inset;
  box-shadow: -0.25rem 0 0.25rem rgba(246, 248, 250, 0.6) inset;
  opacity: 0.9;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=90)';
  filter: alpha(opacity=90);
  transition: all 0.5s;
}

#body-wrap {
  transition: all 0.5s;
}

/* 左侧目录标题css样式 */
#sidebar .sidebar-toc__title {
  padding-right: 0.5rem;
  text-align: center;
  font-size: 1.3em;
}

.tocOpenPc .sidebar-toc__title {
  -webkit-animation: tocsidebarLtoR 0.5s;
  -moz-animation: tocsidebarLtoR 0.5s;
  -o-animation: tocsidebarLtoR 0.5s;
  -ms-animation: tocsidebarLtoR 0.5s;
  animation: tocsidebarLtoR 0.5s;
}

#sidebar .sidebar-toc__progress {
  position: relative;
  margin-bottom: 6px;
  padding-left: 12px;
  color: #00c4b6;
}

.tocOpenPc .sidebar-toc__progress {
  -webkit-animation: tocsidebarLtoR 0.7s;
  -moz-animation: tocsidebarLtoR 0.7s;
  -o-animation: tocsidebarLtoR 0.7s;
  -ms-animation: tocsidebarLtoR 0.7s;
  animation: tocsidebarLtoR 0.7s;
}

#sidebar .sidebar-toc__progress .progress-notice {
  margin-right: 5px;
}

#sidebar .sidebar-toc__progress .progress-num {
  display: inline-block;
  min-width: 18px;
}

#sidebar .sidebar-toc__progress-bar {
  width: 0;
  height: 1px;
  background: #00c4b6;
}

.tocOpenPc .sidebar-toc__content {
  -webkit-animation: tocsidebarLtoR 0.9s;
  -moz-animation: tocsidebarLtoR 0.9s;
  -o-animation: tocsidebarLtoR 0.9s;
  -ms-animation: tocsidebarLtoR 0.9s;
  animation: tocsidebarLtoR 0.9s;
}

.tocOpenPc .sidebar-toc__content h1 {
  font-size: 15px;
  padding-left: 30px;
}

@-moz-keyframes tocsidebarLtoR {
  0% {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes tocsidebarLtoR {
  0% {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes tocsidebarLtoR {
  0% {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes tocsidebarLtoR {
  0% {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

/* 文章页面头图 */

.post-bg .fixed {
  width: calc(100% - 300px) !important;
}

.post-bg .visible {
  width: calc(100% - 300px) !important;
}

/* 页面头部头图等样式 */
#nav.post-bg {
  height: 400px;
}
#nav #post-info {
  position: absolute;
  bottom: 1.5rem;
  padding: 0 8%;
  width: 100%;
  color: #eee;
  text-align: left;
}

/* 遮罩层 */
#nav.post-bg:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
}

#nav #post-info #post-title .posttitle {
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.5;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#post-info #post-title {
  margin-bottom: 8px;
  font-size: 30px;
}

#post-info #post-meta {
  font-size: 95%;
}

#post-info #post-meta .post-meta__separator {
  margin: 0 6px;
}

#post-info #post-meta a {
  color: #eee;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#post-info #post-meta a:hover {
  color: #49b1f5;
  text-decoration: underline;
}

#post-info #post-meta > .meta-secondline,
#post-info #post-meta > .meta-thirdline {
  display: inline;
}

#post-info #post-meta .word-count,
#post-info #post-meta #busuanzi_value_page_pv,
#post-info #post-meta .comment-count {
  padding-left: 0.2rem;
}

main {
  display: block;
}


.comment_headling {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

.v[data-class='v'] {
  font-size: 16px;
  text-align: left;
}

.v[data-class='v'] * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.75;
}

.v[data-class='v'] .vwrap {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  padding: 10px;
}

.v[data-class='v'] .vwrap .vheader {
  display: flex;
}

.v[data-class='v'] .vwrap .vheader .vinput {
  flex: 1;
  border-bottom: 1px dashed #dedede;
}

.v[data-class='v'] .vwrap input {
  background: transparent;
}

.v[data-class='v'] .vinput {
  border: none;
  resize: none;
  outline: none;
  padding: 10px 5px;
  max-width: 100%;
  font-size: 0.775em;
}

.v[data-class='v'] .status-bar,
.v[data-class='v'] .veditor,
.v[data-class='v'] .vinput,
.v[data-class='v'] p,
.v[data-class='v'] pre code {
  color: #555 !important;
}

.v[data-class='v'] .vwrap .vedit {
  position: relative;
  padding-top: 10px;
}

#vcomment textarea {
  background: url(../assets/img//bg.jpg) 100% 100% no-repeat;
}

.v[data-class='v'] .veditor {
  width: 100%;
  min-height: 8.75em;
  font-size: 0.875em;
  background: transparent;
  resize: vertical;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.v[data-class='v'] .vrow {
  margin-top: 10px;
}

.v[data-class='v'] .vrow .vcol.vcol-30 {
  width: 30%;
}

.v[data-class='v'] .vrow .vcol.vcol-70 {
  width: 69%;
}
.v[data-class='v'] .vrow .vcol {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.v[data-class='v'] .vicon {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  fill: #555;
  vertical-align: middle;
}

.v[data-class='v'] a {
  position: relative;
  cursor: pointer;
  color: #1abc9c;
  text-decoration: none;
  display: inline-block;
}

.v[data-class='v'] .text-right {
  text-align: right;
}

#vcomment button {
  padding: 0.3rem 1rem;
  border-color: #fff;
  background-color: #49b1f5;
  color: #fff;
  font-size: 0.7rem;
}

.v[data-class='v'] .vbtn {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-align: center;
  color: #555;
  border: 1px solid #ededed;
  border-radius: 0.3em;
  display: inline-block;
  background: transparent;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 0.5em 1.25em;
  font-size: 0.875em;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.v[data-class='v'] .vcards {
  width: 100%;
  margin-top: 10px;
}

.v[data-class='v'] .vcards .vcard .vimg {
  width: 46px;
  height: 46px;
  float: left;
  border-radius: 50%;
  margin-right: 12px;
  border: 1px solid #f5f5f5;
  padding: 2px;
}

.v[data-class='v'] .vcards .vcard .vh {
  overflow: hidden;
  padding-bottom: 1px;
  border-bottom: 1px dashed #f5f5f5;
}

.v[data-class='v'] .vcards .vcard .vhead {
  line-height: 1.5;
  margin-top: 0;
}

.v[data-class='v'] .vcards .vcard .vcontent {
  word-wrap: break-word;
  word-break: break-all;
  font-size: 14px;
  line-height: 2;
  position: relative;
  margin-bottom: 10.5;
  padding-top: 8.75px;
}

.v[data-class='v'] .vcards .vcard .vcontent p {
  min-height: 50px;
}

.v[data-class='v'] .vcards .vcard .vh .vmeta {
  line-height: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.v[data-class='v'] .vcards .vcard .vh .vtime {
  font-size: 12px;
  color: #b3b3b3;
}

#vcomment .vat {
  padding: 0 16px;
  border: 1px solid #49b1f5;
  border-radius: 5px;
  color: #49b1f5;
  font-size: 14;
}

#vcomment .vat:hover {
  background-color: #49b1f5;
  color: #fff;
}

.v[data-class='v'] .status-bar,
.v[data-class='v'] .veditor,
.v[data-class='v'] .vinput,
.v[data-class='v'] p,
.v[data-class='v'] pre code {
  color: #555;
}

.v[data-class='v'] .vcount {
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

.focus {
  position: relative;
  width: 850px;
  height: 455px;
  margin-left: 20px;
  overflow: hidden;
}

.focus ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  height: 100%;
  width: 600%;
}

.focus ul li {
  float: left;
}

.focus ul li a img {
  display: block;
  width: 850px;
  height: 455px;
}

.arrow-l,
.arrow-r {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 30px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-family: 'icomoon';
  font-size: 18px;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}

.focus:hover .arrow-l,
.focus:hover .arrow-r {
  display: flex;
}

.focus i {
  font-size: 25px;
}

.arrow-r {
  right: 0;
}

.circle {
  position: absolute;
  bottom: 15px;
  right: 30px;
  list-style: none;
}

.circle li {
  float: left;
  width: 16px;
  height: 16px;
  /*background-color: #fff;*/
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 0 3px;
  border-radius: 50%;
  /*鼠标经过显示小手*/
  /* cursor: url(https://www.bsat1314.cn//usr/themes/handsome/link.cur), pointer !important; */
}

/* 当前图片下原点变色 */
.current {
  background-color: #fff;
}

/* 博客介绍页面css样式 */
.layout_page > div:first-child:not(.recent-posts) {
  width: 75%;
}

.layout_post > #post,
.layout_page > div:first-child:not(.recent-posts) {
  padding: 50px 40px;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
  box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

#article-container ol,
#article-container ul {
  margin-top: 0.4rem;
  counter-reset: li;
  padding-left: 40px;
}

#article-container ol li,
#article-container ul li {
  position: relative;
  margin: 0.3rem 0;
  padding-left: 0.3rem;
}



.is-center {
  text-align: center;
}


